*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #aaa;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1.1;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }
  .heading-2--light {
    color: #aaa; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 2rem; }
  .heading-4--light {
    color: #aaa; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  border: none;
  border-radius: 0;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #c69963;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    filter: brightness(85%); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 6rem; }

.mb-hg {
  margin-bottom: 8rem; }

.justify-self--end {
  justify-self: end; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1; }

.header {
  background-color: red;
  grid-column: full-start/ col-end 6; }

.realtors {
  background-color: gray;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: col-start 1 / col-end 8;
  margin: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  row-gap: 1rem;
  column-gap: 2rem; }
  .feature--icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature--text {
    font-size: 1.8rem; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }

.story__img {
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .story__img--1 {
    grid-row: 2/6;
    grid-column: 2/6; }
  .story__img--2 {
    grid-row: 3 / -1;
    grid-column: 4 / -1;
    width: 115%;
    z-index: 20; }

.story__content {
  background-color: #f9f7f6;
  padding: 6rem 5vw;
  grid-column: col-start 5 / full-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.story__text {
  font-size: 1.6rem;
  font-style: italic; }

.homes {
  margin: 8rem 0;
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .home__heart {
    fill: #c69963;
    width: 2rem;
    height: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    padding: 1rem;
    z-index: 1; }
  .home__icon {
    width: 2rem;
    height: 2rem;
    fill: #c69963; }
  .home__location {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif; }
  .home__btn {
    grid-column: 1/-1; }
  .home__image {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
    background-color: #101d2c;
    padding: 0.5rem 0;
    text-align: center;
    width: 90%;
    transform: translateY(2.1rem); }
  .home__amenities {
    padding: 6rem 2rem 4rem 2rem;
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    grid-column: 1/-1; }
  .home__amenity {
    display: flex;
    align-items: center;
    gap: 1rem; }

.gallery {
  background-color: pink;
  grid-column: full-start / full-end; }

.footer {
  background-color: lightcoral;
  grid-column: full-start / full-end; }
