.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 6rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  text-align: center;
  align-items: center;

  &__link {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
      transform: translateY(-1rem);
    }
  }
}

.copyright {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  width: 70%;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}
