.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: $bp-largest) {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.nav__btn {
  width: 3rem;
  margin-top: 4rem;

  @media only screen and (max-width: $bp-largest) {
    margin-top: 0;
    margin-left: 2rem;
  }

  &,
  &::before,
  &::after {
    width: 3rem;
    height: 2px;
    background-color: white;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(1.1rem);
  }

  &::after {
    transform: translateY(-1.4rem);
  }
}
